{% extends "learners_app/header_2.html" %}
{% load widget_tweaks %}
{% block content %}
<br>
<div class="container-fluid">
  <!--  First Block-->
  <div class="row">
    <div class="col-1"></div>
    <div class="col-5">
      <h2 style="font-family:verdana; font-size:50px;">Where Employees</h2>
      <h1 style="font-family:verdana; font-size:50px;"><b>LEARN & GROW</b></h1>
      <h2 style="font-family:verdana; font-size:50px;">with Purpose</h2>
      <br>
      <h5 style="font-family:verdana; font-size:30px;"><b>ENTREPRELEARNERS</b> is the first hub where employees learn, grow, create & share with purpose, and have an impact on their workplace</h5>
      <br>
      <a href="" class="btn btn-outline-warning btn-lg"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Learn More</a>
    </div>
    <div class="col-4">
      <img src="/media/img_11.png" class="img-thumbnail">
    </div>
    <div class="col-2"></div>
  </div>
  <br>
  <!--  First Page Break -->
  <div class="row bg-warning container-fluid p-3">
    <div class="col-3 text-center">
      <h2> <i class="fa fa-book" aria-hidden="true"></i></h2>
      <h4> LEARN WITH PURPOSE</h4>
    </div>
    <div class="col-3 text-center">
      <h2> <i class="fa fa-leaf" aria-hidden="true"></i></h2>
      <h4> GROW WITH PURPOSE</h4>
    </div>
    <div class="col-3 text-center">
      <h2> <i class="fa fa-paint-brush" aria-hidden="true"></i></h2>
      <h4> CREATE WITH PURPOSE</h4>
    </div>
    <div class="col-3 text-center">
      <h2> <i class="fa fa-share-alt-square" aria-hidden="true"></i></h2>
      <h4> SHARE WITH PURPOSE</h4>
    </div>
  </div>
  <br>
  <!--  Second Block-->
  <div class="row">
    <div class="col-1"></div>
    <div class="col-5">
      <h2 style="font-family:verdana; font-size:50px;"><b>Identify training needs </b>& increase engagement</h2>
      <br>
      <h3><b>Entreprelearners</b> helps your company identify every employee's <b>TRUE</b> needs/ boost skills, increase engagement in learning & growing and have the <b>desired impact</b></h3>
      <br>
      <a href="https://bookme.name/jamesbasha/lite/conversation" class="btn btn-lg btn-outline-warning"><i class="fa fa-desktop" aria-hidden="true"></i> Book A Demo</a>
    </div>
    <div class="col-4">
      <img src="/media/img_22.png" class="img-thumbnail">
    </div>
    <div class="col-2"></div>
  </div>
  <br>
  <!--  Second Page Break-->
  <div class="row bg-light container-fluid text-center p-3">
    <h1 class="text-warning" style="font-family:Tahoma ; font-size:50px;"><b>Training Needs Assessment</b></h1>
    <div class="col-3 text-center">
      <h2> <i class="fa fa-list-alt" aria-hidden="true"></i></h2>
      <h4> Identify Boost Skills/Needs</h4>
    </div>
    <div class="col-3 text-center">
      <h2> <i class="fa fa-map" aria-hidden="true"></i></h2>
      <h4> Design Growth Roadmap</h4>
    </div>
    <div class="col-3 text-center">
      <h2> <i class="fa fa-male" aria-hidden="true"></i></h2>
      <h4> Prepare Personalised Training</h4>
    </div>
    <div class="col-3 text-center">
      <h2> <i class="fa fa-balance-scale" aria-hidden="true"></i></h2>
      <h4> Have an Impact</h4>
    </div>
  </div>
  <br>

  <!--  Third Block-->
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-4">
      <img src="/media/img_33.png" width="500" height="500" class="img-thumbnail">
    </div>
    <div class="col-5">
      <h2 style="font-family:Tahoma ; font-size:50px;"><b>ASSESS THE STATE OF</b></h2>
      <h2 style="font-family:Garamond  ; font-size:50px;">Organisation Vs Workforce Skills Gap</h2>
      <h3 style="font-family:Arial  ; font-size:25px;"><b>Entreprelearners</b> helps your organization identify and define the TOP SKILLS that matter the most to make the purpose of the company become a reality and discover the skills gap between the organisation and employees</h3>
      <br>
      <a href="" class="btn btn-lg btn-outline-warning"><i class="fa fa-search" aria-hidden="true"></i> FIND OUT HOW</a>
    </div>
    <div class="col-1"></div>
  </div>
  <br>

  <!--  Third Page Break-->
  <div class="row bg-light container-fluid text-center p-4">
    <h1 class="text-warning">Skill Gap Analysis</h1>
    <div class="col-3 text-center">
      <h2> <i class="fa fa-tree" aria-hidden="true"></i></h2>
      <h4> Define the organisation's skill needed to grow</h4>
    </div>
    <div class="col-3 text-center">
      <h2> <i class="fa fa-map-marker" aria-hidden="true"></i></h2>
      <h4> Discover Workforce Competency</h4>
    </div>
    <div class="col-3 text-center">
      <h2> <i class="fa fa-database" aria-hidden="true"></i></h2>
      <h4> Collect Data</h4>
    </div>
    <div class="col-3 text-center">
      <h2> <i class="fa fa-link" aria-hidden="true"></i></h2>
      <h4> Bridge the Gap</h4>
    </div>
  </div>
  <br>

  <!--  Fourth Block-->
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-5">
      <h1 style="font-family:Tahoma ; font-size:50px;"><b>Purpose-driven companies need</b></h1>
      <h2 style="font-family:Courier New ; font-size:50px;">Purpose-driven Employees</h2>
      <h5 style="font-family:Garamond  ; font-size:30px;">For the companies to be Purpose-driven they need to hire & grow purpose-driven employees & collaborate with purpose-driven stakeholders</h5>
      <br>
      <a href="" class="btn btn-lg btn-outline-warning"><i class="fa fa-briefcase" aria-hidden="true"></i> HOW TO BECOME ONE</a>
    </div>
    <div class="col-4">
      <img src="/media/img_44.png" width="700" height="700" class="img-thumbnail">
    </div>
    <div class="col-2"></div>
  </div>
  <br>
  <!--  Fourth Page Break-->
  <div class="row bg-light container-fluid text-center">
    <div class="col-3 text-center">
      <h2> <i class="fa fa-list" aria-hidden="true"></i></h2>
      <h4> Hire with Purpose</h4>
    </div>
    <div class="col-3 text-center">
      <h2> <i class="fa fa-arrows-alt" aria-hidden="true"></i></h2>
      <h4> Onboard with Purpose</h4>
    </div>
    <div class="col-3 text-center">
      <h2> <i class="fa fa-signal" aria-hidden="true"></i></h2>
      <h4> Grow with Purpose</h4>
    </div>
    <div class="col-3 text-center">
      <h2> <i class="fa fa-bicycle" aria-hidden="true"></i></h2>
      <h4> Offboard with Purpose</h4>
    </div>
  </div>
  <br>

  <!--  Fifth Block-->
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-4">
      <img src="/media/img_55.png" width="700" height="700" class="img-thumbnail">
    </div>
    <div class="col-5">
      <h1 style="font-size:60px;"><b>UPSKILL & RESKILL</b></h1>
      <h2><b>EMPLOYEES</b></h2>
      <h1 style="font-size:60px;">WITH PURPOSE</h1>
      <h5 style="font-family:Garamond  ; font-size:30px;"><b>Entreprelearners</b> helps your workforce get prepared for the present and the future by helping them identify the most important skills needed in the current environment and offering them 100% personalised training and resources.</h5>
      <br>
      <a href="" class="btn btn-lg btn-outline-warning"><i class="fa fa-coffee" aria-hidden="true"></i> FIND OUT MORE</a>
    </div>
    <div class="col-1"></div>
  </div>
  <br>
  <!--  Fifth Page Break-->
  <div class="row bg-light container-fluid text-center">
    <div class="col-3 text-center">
      <h2> <i class="fa fa-pencil" aria-hidden="true"></i></h2>
      <h4> Craft your Purpose</h4>
    </div>
    <div class="col-3 text-center">
      <h2> <i class="fa fa-list-ol" aria-hidden="true"></i></h2>
      <h4> Find your top boost skills</h4>
    </div>
    <div class="col-3 text-center">
      <h2> <i class="fa fa-headphones" aria-hidden="true"></i></h2>
      <h4> Design your Personal Growth Plan</h4>
    </div>
    <div class="col-3 text-center">
      <h2> <i class="fa fa-history" aria-hidden="true"></i></h2>
      <h4> 100% personalised training & resources</h4>
    </div>
  </div>
  <br>
</div>
{% endblock content %}